APP_ENV=development
APP_DEBUG=true

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=ai_knowledge_base
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_MIN_CONNECTIONS=1
POSTGRES_MAX_CONNECTIONS=5
POSTGRES_CONNECT_TIMEOUT=5
POSTGRES_SSLMODE=prefer
